
<ul>
    <li *ngFor="let nome of nomes"> {{ nome }} </li>
</ul>


<table border="1">
    <tr *ngFor="let x of nomes">
        <td>{{ x }}</td>
    </tr>
</table>

<select>
    <option *ngFor="let nome of nomes">{{ nome }}</option>
</select>

<div *ngIf="! mostrar">
    Mostrando o elemento
</div>


